body {
  margin: 0;
  padding: 0;
  background: #f2f4f5;
  color: black;
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

#root {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
